* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.headingss {
  color: red;
  margin: 10px;
}
.childrens {
  margin: 10px;
  background-color: yellow;
}
.roots {
  background-color: aqua;
}
